<div class="row" >
  <div class="col-sm-6">
    <div class="card card2">
      <div class="card-body header-text">
        <div>
       <!-- <h1 class="d-flex justify-content-right">AD<span class="vault">Labs</span></h1> -->
       <br>
        </div>
        <br>
        <div>
          <p class="maintext">Laboratory With Qualtity Beyond Your Imagination</p>
        </div>

       <br>
       <ul class="ul">
        <li><span>Welcome to AD Labs, your premier testing laboratory equipped
          to conduct a comprehensive array of tests. At AD Labs, we specialize
          in delivering accurate and reliable results across various domains.
          Our state-of-the-art facilities and cutting-edge technology enable us
          to perform a wide range of tests, ensuring precision and quality in every analysis
            </span>
        </li>
        <br>

       </ul>
       <div class="d-flex justify-content-right">
        <button class="button" (click)="func()">Book Your Slot</button>
        <button class="button" (click)="func1()">Download Report</button>
       </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card1">
      <div class="card-body d-flex justify-content-center align-items-center">
        <img class="mainbanner" src="../assets/banner-img.webp"/>
      </div>
    </div>
  </div>
</div>

<br>
<div class="col-sm-12" style="margin: 20px 0px;">
  <h4 class="text-center  ">Our Services</h4>
  <h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(100, 92, 92);">Connecting Ideas For Years</h1>

  <hr style="width: 50%; margin-left:25% !important; margin-right:25% !important;">
</div>


<div class="container2">

  <div class="test-items">
    <h4>Full Body Checkup</h4>
    <p>
      Elevate your well-being with our Full Body Checkup
       a thorough health assessment ensuring a comprehensive
       understanding of your overall fitness and vitality.
    </p>
  </div>
  <div class="test-items">
    <h4>Diabetes Care</h4>
    <p>Prioritize your health with our Diabetes Checkup, delivering
      swift and precise insights into your blood sugar levels for
      proactive management of your well-being.
    </p>
  </div>
  <div class="test-items">
    <h4>Complete Kidney Checkup</h4>
    <p>Safeguard your renal health with our Kidneys Checkup,
       providing swift and accurate assessments to ensure
        optimal kidney function and overall well-being
    </p>
  </div>
  <div class="test-items">
    <h4>Vitamin D & B12 Combo</h4>
    <p>Recharge your vitality with our Vitamin D and B12 Checkup,
       ensuring optimal levels for sustained energy, immunity, and overall wellness.
    </p>
  </div>
  <div class="test-items">
    <h4>Arthritis Screening</h4>
    <p>Gain insight into joint health with our Arthritis Screening
       a swift and targeted assessment for early detection and proactive
       management of arthritis-related concerns.
    </p>
  </div>
  <div class="test-items">
    <h4>Vitamin D Profile</h4>
    <p>Optimize your well-being with our Vitamin D Profile,
      a comprehensive analysis ensuring your body's vitamin D
      levels are at their peak for robust bone health and overall
       vitality.
    </p>
  </div>
  <div class="test-items">
    <h4>Basic Health Checkup</h4>
    <p>Prioritize your health with our Basic Health Checkup
      a comprehensive assessment providing a snapshot of your
      overall well-being for informed and proactive healthcare decisions.
    </p>
  </div>
  <div class="test-items">
    <h4>Immunity Health Checkup</h4>
    <p>Boost your defenses with our Immunity Health Checkup,
      offering insights into key markers to fortify your immune
      system and safeguard your overall well-being.

    </p>
  </div>

</div>

<div class="container4">
  <div class="container4-items" style="display: flex; justify-content: center;" >
    <img src="../assets/img1.jpg" style="height: 350px; width: 500px; border-radius: 6px;"/>
  </div>
  <div class="container4-items">
    <br>
    <h4>HEALTHCARE PROVIDERS</h4>
    <br>
    <h2>Get access to specialty tests and breakthrough information.</h2>
    <br>
    <p>
      Every day, we're helping healthcare providers treat millions of patients
       as individuals. From specialty diagnostics to the cutting-edge science
       behind COVID-19, oncology, chronic diseases and more—we’ll never stop
        delivering better, smarter resources.
    </p>
  </div>

  <br>
  <div class="container4">
    <div class="container4-newitems">
      <br>
      <h4>BIOPHARMA</h4>
      <br>
      <h2>Spanning the drug development continuum.</h2>
      <br>
      <p>
        From drug discovery and nonclinical studies to central labs and
         companion diagnostics, we are your laboratory services partner.
          Our global lab network supports drug development in more than 100
           countries, generating more clinical trial data than any other company.
      </p>
    </div>
    <div class="container4-newitems" style="display: flex; justify-content: center;" >
      <img src="../assets/img2.jpg" style="height: 350px; width: 500px; border-radius: 6px;"/>
    </div>
</div>

<div class="container4">
  <div class="container4-items" style="display: flex; justify-content: center;" >
    <img src="../assets/img3.jpg" style="height: 350px; width: 500px; border-radius: 6px;"/>
  </div>
  <div class="container4-items">
    <br>
    <br>
    <h4>ORGANIZATIONS</h4>
    <br>
    <h2>Find out how we can help you help more people.</h2>
    <br>
    <p>
      Our cost-effective services stretch beyond diagnostics, meaning
      our tools and solutions scale with your business to meet your analytical,
       clinical and operational needs.
    </p>
  </div>
</div>

</div>


<div class="container3">
  <div class="container3-items">
    <h1>1M+</h1>
    <p>Tests Conducted Anually</p>
  </div>
  <div class="container3-items">
    <h1>750+</h1>
    <p>Team members working to give you the best testing services</p>
  </div>
  <div class="container3-items">
    <h1>12000+</h1>
    <p>Happy Customers Across The Country</p>
  </div>

</div>

<div class="container1">
  <div class="about-item" style="display: flex; justify-content: center;" >
    <img src="../assets/mainpage1.jpg" style="height: 500px; width: 600px; "/>
  </div>
  <div class="about-item">
    <h1 class="text-center" style="padding-bottom: 20px;">About Us</h1>
    <p>
      Welcome to AD Labs, a cutting-edge testing laboratory founded in 2023 by Imad Yasin,
      situated in the picturesque region of Srinagar, Jammu & Kashmir. Committed to
      advancing healthcare, we specialize in a comprehensive range of body tests,
      utilizing state-of-the-art technology to provide accurate and reliable results.
      At AD Labs, our mission is to contribute to your well-being by delivering precise
      diagnostics and promoting a proactive approach to health. Trust us to be your
      partner in comprehensive and personalized testing for a healthier tomorrow.
      Every test is conducted with precision and care by our team of skilled professionals,
      ensuring accurate and reliable results. Trust AD Labs for top-tier testing services
      that prioritize your health and well-being.
    </p>
  </div>
</div>


<div class="box">
  <div style="color: white; text-align: center; padding: 20px 5px;">
    <h3>Get In Touch</h3>
    <p>Terms of Use Disclaimer Privacy Policy</p>
    <p>
      Call Us: 7500-2211-2222-11 <br>
      Mail Us: care@adlabs.com <br>
      All Tests Available only in Kashmir
    </p>
    <p>© 2023 AD Diagnostics Pvt. Ltd. All Rights Reserved.</p>
  </div>

</div>

